body {
    margin: 0;
}

/* colour palettes */

.c1 {
    background-color: #fffb9b;
}

.c2 {
    background-color: #e85861;
}

.c3{
    background-color: rgb(10,10,10);
    color: rgb(220,220,200);
}

.c4 {
    background-color: #98bbf5;
}

.c5 {
    background-color: white;
}


/* generic centered div */
.container-centered, .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

.footer {
    border-top: solid rgb(100,100,100) 4px;
    text-align: center;
    font-family: 'Gabarito', sans-serif;
}

.footer a{
    text-decoration: none;
    color: white;
}

    .footer a:hover {
        text-decoration: none;
        color: rgb(220,220,200);
        
    }


/* nav bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-family: 'Gabarito', sans-serif;
}

.nav-brand{
    padding: 8px;
}

.nav{
    display: flex;
    margin: 0;
}

.nav-item{
    list-style-type: none;
    padding: 8px 20px;
}


.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: rgb(120,120,120);
    padding: 12px;
    border-radius: 17px;
}

.active {
    background-color: #e85861;
    color: white;
}


    .nav-link:hover {
        
        background-color: #e85861;
        color: white;
        transition: all 0.4s ease-in-out;
    }

/* homepage */

.banner-home {
    background-image: url("images/banner-home1.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    padding: 0 60px;
    margin-bottom: 5vw;
}

.banner-text {
    border: solid rgba(255, 255, 255, 0.7);
    background-color: rgba(65,64,130, 0.8);
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 20px 30px;
    max-width: 850px;
    font-family: 'DM Sans', sans-serif;
}

    .banner-text h1 {
        font-size: 70px;
        margin: 0;
    }

    .banner-text p {
        font-size: 30px;
    }

.big-heading {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding-top: 50px;
    width: 70%;
    padding-left: 15%;
}

    .big-heading h2 {
        font-size: 48px;
        margin: 0;
    }

    .big-heading p{
        font-size: 22px;
        margin: 0;
    }

.tri-skill{
    text-align: center;
}

    .tri-skill i{
        font-size: 40px;
    }

    .tri-skill i, .tri-skill h3, .tri-skill p{
        padding: 5px 0;
        margin: 0;
    }

.soft-skills{
    padding: 20px 0 70px 0;
    flex-wrap: wrap;
}

.soft {
    text-align: start;
    display: flex;
    align-items: center;
    width: 320px;
}

    .soft i {
        font-size: 20px;
    }

    .soft i, .soft p {
        padding: 5px 10px;
        margin: 0;
    }

.semi-y {
    background-image: url("images/half-circle-bgy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.semi-w {
    background-image: url("images/half-circle-bgw.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 50px;
}


/* alternating section content*/

.row, .row-reverse {
    font-family: 'Gabarito', sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.row {
    flex-wrap: wrap;
}

.row-reverse {
    flex-wrap: wrap-reverse;
}

.col{
    min-width: 350px;
    max-width: 20%;
    padding: 12px 20px;
}

.col-img{
    width: 90%;
    max-width: 400px;
}

.col-text{
    padding: 0 8px;
}


/* learn page */
.banner-learn {
    min-height: 90vh;
    position: relative;
}

.learn-heading {
    color: black;
    font-family: 'DM Sans', sans-serif;
    padding: 25px;
    font-size: 10.5vw;
}

    .learn-heading h1 {
        margin: 0;
        line-height: 0.9;
    }

.ps1 {
    margin: 0 0 0 15% !important;
}

.ps2 {
    margin: 0 0 0 40% !important;
    position: absolute;
    z-index: 9;
}

.img-over{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-over img{
    width: 20vw;
    min-width: 270px;
}

/* future page */
.banner-future {
    background-image: url("images/banner-future1.png");
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 95vh;
}

.future-middle{
    margin-left: 15vw;
}

.future-content {
    margin-left: 12%;
    padding: 80px 0 70px 20px;
}

    .future-content h2 {
        font-size: 20px;
        padding-left: 20px;
        margin: 0;
        font-family: 'DM Sans', sans-serif;
    }


    .future-content p {
        margin: 2px;
        font-size: 32px;
        width: 90%;
        min-width: 350px;
        max-width: 700px;
        font-family: 'Gabarito', sans-serif;
    }

.future-img {
    padding: 60px 5vw 60px 0;
    display: flex;
    justify-content: end;
}

.future-img img{
    padding: 70px;
}

.f-img{
    width: 40vw;
    min-width: 340px;
    max-width: 430px;
}

.future-duo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 50px 50px 0px;
}

.future-left{
    margin-right: 10vw;
}

.future-right {
    margin-top: 150px;
}